* {
  font-family: "Arial Narrow";
}

.main-font {
  font-family: Roboto, sans-serif;
}

body {
  background: linear-gradient(45deg, #141414 100%, #242720 0);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.3rem;
  margin-top: 10px;
}

.dark-bg-text {
  color: #9e8a57;
}

.bg-text {
  color: #e4ce96;
}

#result-div {
  display: none;
  width: 20em;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(46, 46, 48, 0.8);
  border: 1px solid #a28d54;
  border-radius: 15px;
  padding: 0.5rem;
}

#result-div p {
  font-size: 1.2rem;
}

#main {
  margin-top: 15px;
}

#title > img {
  width: 180px;
}

#social-media {
  position: absolute;
  height: 40px;
  left: 25px;
  top: 10px;
}

#social-media img {
  height: 100%;
}

#social-media a {
  text-decoration: none;
  margin-left: 8px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}

#footer > p {
  font-size: 1rem;
}

.button {
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 5px;
  color: #ffffff;
  background: linear-gradient(180deg, #1f1f22, #181b1e 5%, #18262d);
  border: 2px solid #6c5f38 !important;
  border-radius: 0.1em !important;
  padding: 12px;
}

.button:hover {
  border: 2px solid #9e8a57 !important;
  background: linear-gradient(180deg, #333336, #2c2f32 5%, #2c3a41);
}

#calculate-button {
  margin-top: 30px;
}

#reward-result {
  margin-top: 35px;
  margin-bottom: 8px;
}

.bold {
  font-weight: bold;
}

#support-button {
  position: absolute;
  top: 10px;
  right: 25px;
  border: 2px solid #5cd2af !important;
}

#support-modal {
  display: none;
  border: 1px solid;
  padding: 30px;
  background-color: #29292a;
  position: absolute;
  top: 10px;
  right: 25px;
}

#support-modal span {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: small;
  cursor: pointer;
}

#support-address {
  color: #5cd2af;
}
